@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebNutFactory.Models.LoginManager
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Login Manager</title>
</head>
<center><h1>Welcome to in Online Factory App</h1></center>
<br>
<br>

<body>
    <center>
        <form asp-action="SubmitForm3" method="post">
            <label asp-for="UserName">Manager :</label>
            <input asp-for="UserName" type="text" />
            <br>
            <br>
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" type="password" />
            <br>
            <br>
            <button type="submit">Login</button>
            <br>
            <br>
            <p> <span asp-validation-for="UserName"></span></p>
            <p><span asp-validation-for="Password"></span></p>
        </form>
    </center>
</body>