html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: sans-serif;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url("images/tm-bg-1.jpeg");
}


.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
    margin: 1em;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

    .card h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .card p {
        line-height: 1.6;
    }

.buttonl {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

