@{
    ViewData["Title"] = "LoginForm";
}
@model WebNutFactory.Models.Customer
<head>
 <title>Login Form</title>
 <link rel="stylesheet" href="~/css/RegistrationLoginForm.css">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h2>Login</h2>
            <form asp-action="SubmitForm2" method="post">
                <input asp-for="CustomerID" type="text" placeholder="Enter your ID" required>
                <input asp-for="CPassword" type="password" placeholder="Enter your password" required>
                <input type="checkbox"> Remember me
                <button type ="submit"> Login Now</button>
                <p>Don't have an account? <a href="https://localhost:5166/Customer/RegistrationForm">Signup now</a></p>
            </form>
        </div>
	</div>
</body>	
 