@{
    ViewData["Title"] = "Prodects";
}
<link rel="stylesheet" href="~/css/prodects.css">

<body>
 
	   <main class="container">
		  <div class="card">
			<a href="#"><img src="~/css/images/product_05.jpg" alt="Product 1"></a>
			<div class="card-content">
			  <a href="#"><h4 class="card-title">Tittle goes here</h4></a>
			  <p class="card-price">$18.25</p>
			  <p class="card-description">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
				<span class="count">Reviews(12)</span>
			</div>
		  </div>
		  
		  <div class="card">
			<a href="#"><img src="~/css/images/product_05.jpg" alt="Product 2"></a>
			<div class="card-content">
			 <a href="#"><h4 class="card-title">Tittle goes here</h4></a>
			  <p class="card-price">$16.75</p>
			  <p class="card-description">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
				<span class="count">Reviews(24)</span>
			</div>
		  </div>
		  
		  <div class="card">
			<a href="#"><img src="~/css/images/product_05.jpg" alt="Product 1"></a>
			<div class="card-content">
			  <a href="#"><h4 class="card-title">Tittle goes here</h4></a>
			  <p class="card-price">$32.50</p>
			  <p class="card-description">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
				<span class="count">Reviews(36)</span>
			</div>
		  </div>
		  <div class="card">
			<a href="#"><img src="~/css/images/product_05.jpg" alt="Product 1"></a>
			<div class="card-content">
			  <a href="#"><h4 class="card-title">Tittle goes here</h4></a>
			  <p class="card-price">$18.25</p>
			  <p class="card-description">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
				<span class="count">Reviews(12)</span>
			</div>
		  </div>
		  
		  <div class="card">
			<a href="#"><img src="~/css/images/product_05.jpg" alt="Product 2"></a>
			<div class="card-content">
			 <a href="#"><h4 class="card-title">Tittle goes here</h4></a>
			  <p class="card-price">$16.75</p>
			  <p class="card-description">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
				<span class="count">Reviews(24)</span>
			</div>
		  </div>
		  
		  <div class="card">
			<a href="#"><img src="~/css/images/product_05.jpg" alt="Product 1"></a>
			<div class="card-content">
			  <a href="#"><h4 class="card-title">Tittle goes here</h4></a>
			  <p class="card-price">$32.50</p>
			  <p class="card-description">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
				<span class="count">Reviews(36)</span>
			</div>
		  </div>
	</main>
</body>